<%= form_for(@dropdown) do |f| %>
  <% if @dropdown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dropdown.errors.count, "error") %> prohibited this dropdown from being saved:</h2>

      <ul>
      <% @dropdown.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
